 *,
 *:after,
 *:before {
   box-sizing: border-box;
 } 


body {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    background: #000000 url("../img/background/main-bg.png") no-repeat;
    background-attachment: fixed;
    background-position: 100% 50%;
    background-size: contain;    
}

.container {
    padding: 91px 0 111px 0;
    width: 80%;
    margin: auto;
    max-width: 1060px;
}

.header_logo {
    margin-right: 59px;
}


.top_menu {
    display: flex;
    align-items: center;
    margin-bottom: 64px;
}

.navigation {
    font-size: 16px;
    line-height: 150%;
}

.nav_link {
    margin-right: 12px;
}

.episode_number {
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 100%;
    margin-bottom: -35px;

}

.episode_title {
    font-style: normal;
    font-weight: 900;
    font-size: 53px;
    line-height: 64px;
    margin-bottom: 20px;
}

.episode_description {
    max-width: 471.9px;
    font-size: 14.85px;
    line-height: 150%;
}
