 *,
 *:after,
 *:before {
   box-sizing: border-box;
 } 


body {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    background: #000000 url("../img/background/main-bg.png") no-repeat;
    background-attachment: fixed;
    background-position: 100% 50%;
    background-size: contain;    
}

.container {
    padding: 91px 0 111px 0;
    width: 80%;
    margin: auto;
    max-width: 1060px;
}

.header_logo {
    margin-right: 59px;
}


.top_menu {
    display: flex;
    align-items: center;
    margin-bottom: 64px;
}

.navigation {
    font-size: 16px;
    line-height: 150%;
}

.nav_link {
    margin-right: 12px;
    text-decoration: none; 
}

.nav_link:visited {
    color: #B02000;
}


.episode_number {
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 100%;
    margin-bottom: -35px;

}

.episode_title {
    font-style: normal;
    font-weight: 900;
    font-size: 53px;
    line-height: 64px;
    margin-bottom: 20px;
}

.episode_description {
    max-width: 472px;
    font-size: 15px;
    line-height: 150%;
    margin-bottom: 20px;
}

.start_date_title {
    font-size: 15px;
    line-height: 150%;    
    color: #B02000;
    margin-bottom: 4px;
}

.start_date_description {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 38px;
}

.play_button {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 215px;
    height: 54px;
    background: linear-gradient(90deg, #FB641A 0%, #FC3309 100%);
    border-radius: 248px;
    border: none;
    padding-right: 28px;
    position: relative;
}

.play_button:after {
    content: "";
    position: absolute;
    width: 53px;
    height: 53px;
    background: #fff url("../img/icon/play.png") center no-repeat;
    border-radius: 50%;
    right: -10px;
    top: 0;
  }


.play_button:before {
    content: "";
    width: 65px;
    height: 65px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    position: absolute;
    right: -16px;
    top: -6px;
  }
  
  