/*set default values*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,footer,header,aside{display: block;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none; padding-inline-start: 0;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
  font-family: "Montserrat", "Arial", sans-serif;
  color: #ffffff;
  background: #010101 url("../img/background/main-bg.png") top right no-repeat;
  background-attachment: fixed;
  background-size: contain;
  /* overflow: hidden; /* temporary hide*/
}

/*hidden elements style*/

.hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  
  overflow: hidden;
}
/*--------------------*/

.container {
  padding: 91px 0 111px 0;
  width: 80%;
  margin: auto;
  max-width: 875px;
}

.menu {
  display: flex;
  align-items: center;
  margin-bottom: 64px;
}

.menu__header-logo {
  margin-right: 59px;
}

.menu__nav {
  font-size: 16px;
  line-height: 150%;
  display: flex;
  justify-content: flex-start;
}

.menu__link {
  margin-right: 12px;
  text-decoration: none;
}

.menu__link:visited {
  color: #b02000;
}

.episode__number {
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 100%;
  margin-bottom: 10px;
}

.episode__title {
  font-style: normal;
  font-weight: 900;
  font-size: 53px;
  line-height: 64px;
  margin-bottom: 20px;
}

.episode__description {
  max-width: 472px;
  font-size: 15px;
  line-height: 150%;
  margin-bottom: 20px;
  color: #afafaf;
}

.date {
  margin-bottom: 50px;
}

.date__title {
  display: block;
  font-size: 15px;
  line-height: 150%;
  color: #b02000;
  margin-bottom: 5px;
}

.date__description {
  font-size: 20px;
  line-height: 150%;
}

.trailer {
  padding-bottom: 50px;
}

.trailer__button {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  width: 215px;
  height: 54px;
  background: linear-gradient(90deg, #fb641a 0%, #fc3309 100%);
  border-radius: 248px;
  border: none;
  padding: 25px 34px;
  padding-right: 80px;
}

.trailer__button:after {
  content: "";
  position: absolute;
  width: 65px;
  height: 65px;
  background: #fff url("../img/icon/play.png") center no-repeat;
  border-radius: 50%;
  right: 0;
  top: 0;
}

.trailer__button:before {
  content: "";
  position: absolute;
  width: 81px;
  height: 81px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  right: -8px;
  top: -8px;
}

.slider__title {
  color: #ffffff;
  font-weight: bold;
  font-size: 14.85px;
  line-height: 150%;
  margin-bottom: 20px;
}

.slider__card {
  display: flex;
  flex-wrap: wrap;
}

.slider__card-item {
  position: relative;
  overflow: hidden;
  width: 206.25px;
  min-height: 165px;
  box-shadow: 0px 8.25px 21.45px rgba(0, 0, 0, 0.25);
  border-radius: 8.25px;
  margin-bottom: 20px;
  transition: all 0.2s;
}

.slider__card-item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(80, 80, 80, 0.86),
    rgba(80, 80, 80, 0.86)
  );
}

.slider__card-item:hover {
  background: linear-gradient(
    0deg,
    rgba(64, 101, 255, 0.86),
    rgba(64, 101, 255, 0.86)
  );
}

.content {
  margin-left: 20px;
  margin-right: 20px;
}

.slider__card-year {
  padding-top: 24px;
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

.slider__card-name {
  margin-block-start: 0;
  padding-top: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 14.85px;
  line-height: 140%;
  height: 66px;
  margin-bottom: 12px;
}

.slider__card-rating {
  background-image: url("../img/icon/rating.svg");
  background-repeat: no-repeat;
  background-position: 27px -1px;
  font-weight: normal;
  font-size: 11px;
  line-height: 150%;
  margin-block-start: 0;
}

.slider__card-image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
}

.slider__arrow {
  display: flex;
  justify-content: left;
}

.slider__arrow-left {
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  opacity: 0.6;
  background: transparent url("/img/icon/left-arrow.svg") no-repeat;
  margin-right: 15px;
}

.slider__arrow-right {
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  opacity: 0.6;
  background: transparent url("/img/icon/right-arrow.svg") no-repeat;
}

.slider__arrow-left span,
.slider__arrow-right span {
  display: none;
}

@media (min-height: 815px) {
  body {
    overflow: hidden;
  }
}

@media (max-width: 900px) {
  .episode__number {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .episode__title {
    font-size: 35px;
    line-height: 35px;
    margin: 20px 0 15px;
  }
}
