.character {
  font-weight: 500;
  font-size: 18.57px;
  line-height: 1.43;
}

.card-characters {
  background: linear-gradient(
    115.33deg,
    rgba(209, 209, 209, 0.5) -8.48%,
    rgba(188, 188, 188, 0.05) 130.76%
  );
  backdrop-filter: blur(10px);
}
