.episode-number {
  margin-bottom: 10px;

  font-weight: 900;
  font-size: 35px;
  line-height: 100%;
}

.episode-title {
  margin-bottom: 20px;

  font-weight: 900;
  font-size: 53px;
  line-height: 64px;
}

.episode-description {
  max-width: 472px;
  margin-bottom: 20px;

  font-size: 15px;
  line-height: 150%;
  color: #afafaf;
}


@media (max-width: 900px) {
  .episode-number {
    margin-bottom: 10px;

    font-size: 30px;
  }

  .episode-title {
    margin: 20px 0 15px;

    font-size: 35px;
    line-height: 35px;
  }
}
