.trailer {
  padding-bottom: 50px;
}

.trailer-button {
  position: relative;

  width: 215px;
  height: 54px;
  padding: 25px 34px;
  padding-right: 80px;

  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fb641a),
    to(#fc3309)
  );

  background: -o-linear-gradient(left, #fb641a 0%, #fc3309 100%);

  background: linear-gradient(90deg, #fb641a 0%, #fc3309 100%);
  border: none;
  border-radius: 248px;
}

.trailer-button:after {
  position: absolute;
  top: 0;
  right: 0;

  width: 65px;
  height: 65px;

  background: #fff url("./../../assets/images/icons/play.png") center no-repeat;
  border-radius: 50%;

  content: "";
}

.trailer-button:before {
  position: absolute;
  top: -8px;
  right: -8px;

  width: 81px;
  height: 81px;

  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;

  content: "";
}

.trailer-button:hover,
.trailer-button:focus {
  text-decoration: underline;
}
