.date {
  margin-bottom: 50px;
}

.date-title {
  display: block;
  margin-bottom: 5px;

  font-size: 15px;
  line-height: 150%;
  color: #b02000;
}

.date-description {
  font-size: 20px;
  line-height: 150%;
}
