.card-item {
  position: relative;
  cursor: pointer;

  width: 206.25px;
  min-height: 165px;
  margin-right: 10px;
  margin-bottom: 15px;

  box-shadow: 0px 8.25px 21.45px rgba(0, 0, 0, 0.25);
  border-radius: 8.25px;

  transition: all 0.2s;
  overflow: hidden;
}

.card-item:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  display: block;
  width: 100%;
  height: 100%;

  background: linear-gradient(0deg,
      rgba(80, 80, 80, 0.86),
      rgba(80, 80, 80, 0.86));

  content: "";
}

.card-item:hover {
  background: linear-gradient(0deg,
      rgba(64, 101, 255, 0.86),
      rgba(64, 101, 255, 0.86));
  transition: 0.5s ease-in-out;

}

.content {
  margin-left: 20px;
  margin-right: 20px;
}

.card-year {
  display: block;
  padding-top: 24px;

  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

.card-name {
  margin-block-start: 0;
  padding-top: 4px;
  height: 66px;

  font-style: normal;
  font-weight: 700;
  font-size: 14.85px;
  line-height: 140%;
}

.card-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-link {
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-shadow: 0px 2px 4px rgba(67, 186, 255, 0.55);
}

.character {
  font-weight: 500;
  font-size: 18.57px;
  line-height: 1.43;
}

.card-characters {
  background: linear-gradient(115.33deg, rgba(209, 209, 209, 0.5) -8.48%, rgba(188, 188, 188, 0.05) 130.76%);
  backdrop-filter: blur(10px);
}